@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700&subset=latin-ext,latin);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Rosarivo&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

@white: #eaeaea;
@red: #f44843;
//@light-grey: #bfbfbf;
@light-grey: #d9d9d9;
@dark-grey: #333333;
@black: #262626;
@transparent-black: rgba(38, 38, 38, 0.9);
@orange-brown: #fa9663;
@gig-border: #6f6f6f;

@screen-height: 100vh;
@half-screen-height: @screen-height / 2;
@double-screen-height: @screen-height * 2;

@media (min-width: 768px) {

	#quote {

		height: @screen-height;

	}

	#about {
		height: @screen-height;
		font-size: 14pt;
		overflow-y: auto;
	}

	#youtube {

		height: @double-screen-height;

	}

	#soundcloud {

		height: @double-screen-height;

	}

}

.red {

	color: @red;

}

.orange-brown {

	color: @orange-brown;

}

body {

	font-family: "Quicksand" !important;
	font-weight: 300 !important;

}

h1 {

	//letter-spacing: 2px;

}

#background {
	position: absolute;
	background: transparent;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

#main {
	
	position: absolute;
	top: @screen-height;
	z-index: 1;
	background: transparent;

}

#navbar {

	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: @transparent-black;
	//padding: 0.5% 0.5% 0.5% 0.5%;
	color: @red;

	.heading {

		cursor: pointer;
		transition: all .2s ease-in-out;
        font-size: 11pt;

	}

	.heading:hover {

		transform: scale(1.05);

	}

	#social-media-section {

		padding-top: 0.5%;

	}

	.social-media:hover {

		background-color: @dark-grey;

	}

}

.navbar {
	margin-bottom: 0 !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;

	.navbar-brand {

		padding-top: 1px;

	}

	.navbar-text {
		cursor: pointer;
		transition: all .2s ease-in-out;
	}

	.navbar-text:hover {
		transform: scale(1.05);
	}

	.navbar-nav > li > a {

		padding-top: 10px;
		padding-bottom: 10px;

	}
}

.box {

	padding: 5% 5% 5% 5% !important;

}

#quote {

	background-color: @light-grey;
	overflow-y: auto;
	padding: 10% 5% 10% 5%;
	position: relative;

}
blockquote {

	border: none !important;
	clear: left;

	p {

		font-size: 12pt;

	}

	footer {

		float: right;
		color: @red !important;

	}


}

blockquote::before {

	content:'\201C';
	font-family: "Rosarivo";
	font-size: 52pt;
	font-weight: bold;
	position: relative;
	left: -0.6em;
	top: 1em;
	line-height: 50%;
	color: @red;

}


#news {

	height: @screen-height;
	overflow-y: auto;
	background-color: @white;
	font-size: 12pt;
	
}

#gigs {

	//background-color: @white;
	background-color: @black;
	height: @screen-height;
	overflow-y: auto;
	color: @red;

	h1 {
		text-shadow: rgb(3, 3, 3) 2px 2px 2px;
	}

	#gigs-container {

		overflow-y: auto;
		padding-bottom: 2%;

	}

	#gigs-container:hover > .gig {

		transform: scale(0.95);

	}


	.gig {

		margin: 2% 2% 0 2%;
		width: 90%;
		max-height: 500px;
		transition: all .2s ease-in-out;
		font-size: 16pt;
		border: 1px solid @gig-border;
		border-radius: 2px;
		-webkit-box-shadow: 2px 2px 3px 0px rgba(23,23,23,1);
		-moz-box-shadow: 2px 2px 3px 0px rgba(23,23,23,1);
		box-shadow: 2px 2px 3px 0px rgba(23,23,23,1);

		.gig-text {

			//border-bottom: 1px solid #b3b3b3;
			border-right: 1px solid @gig-border;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			padding: 2% 2% 1% 2%;

		}

		.gig-button {

			//border-bottom: 1px solid #b3b3b3;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			background-color: @black;
			padding: 2% 2% 1% 2%;
			text-align: center;

		}

	}

	.additional-info {
		border-top: 1px solid @gig-border;
		padding: 2% 2% 1% 2%;
		cursor: default;
		overflow-x: auto;

		a {

			text-decoration: none;
			color: @orange-brown;

		}
	}

	.collapsed {

		.gig-button:after {

			content: 'Mer info';

		}

		.additional-info {

			display: none;

		}

	}

	.expanded {

		.gig-button:after {

			content: 'Mindre info';

		}

		.additional-info {

			display: initial;

		}


	}

	.gig:hover {

		cursor: pointer;

	}

	#gigs-container:hover > .gig:hover {

		transform: scale(1.0);

	}

}

#quote-section {

	padding: 10% 10% 10% 10%;

}

#member-section {
	display: none;
}

/*#members {

	background-color: @black;

}

.member {

	color: @white;
	//position: relative;

	.member-info {

		.instrument, .lastname {

			display: none;

		}

	}
}*/

@media (min-width: 768px) {

	#member-section {

		display: initial;

		#members {

			background: transparent;
			//background-size: cover;
			height: @screen-height;

			* {

				background: transparent;

			}

			.member {

				//height: @screen-height * 0.7;
				height: inherit;
				transition: all .2s ease-in-out;
				color: @white;
				position: relative;

				.member-info {

					position: absolute;
					bottom: 5%;

					.instrument, .lastname {

						display: none;

					}

				}

				#sunniva {

				}

				#nisse {

					//	background-image: url(images/nisse.jpg);
				}

				#erik {

					//	background-image: url(images/erik.jpg);

				}

			}

			.member:hover {

				background-color: rgba(38, 38, 38, 0.5);

				.instrument, .lastname {

					display: initial;
					text-align: center;

				}

			}

		}

	}
}



#about-and-contact-section {

	color: @black;

}

#about {

	//font-size: 14pt;
	background-color: @white;

	padding: 5% 10% 10% 10%;

	#more-music {
		font-family: "Great Vibes";
		font-size: 36pt;
		margin-bottom: 10%;
	}

	.drop-cap-container {

	    float: left;
	    padding: 0 5px 0 5px;
	    margin-right: 2px;

	}

	.drop-cap {

	    font-size: 60pt;
	    color: #f44843;
	    display: inline;
	    float: left;
	    top: 0;
	    line-height: 65px;

	}

}

#big-image {

	height: @screen-height;

}

#youtube {

	//background-color: @black;
	background-color: @light-grey;
	overflow-y: auto;
	padding-top: 1%;

}

#soundcloud {

	//background-color: @light-grey;
	background-color: @white;

	/*
	 *
	 * The padding is needed to avoid a gap between the youtube and soundcloud section
	 * caused by the h1's margin-top when bootstrap stacks the sections on top of
	 * each other on smaller screens.
	 *
	 */

	padding-top: 1%;

	iframe:nth-child(4) {

		height: @screen-height * 0.25;

	}
}

iframe {

	width: 80%;
	height: @half-screen-height;
	margin: 2% 10% 0 10%;

}


#contact {

	//height:	@half-screen-height;
	background-color: @white + #111;
	font-size: 16pt;

}

#footer {

    padding-top: 1%;
	background-color: white;

}


