@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700&subset=latin-ext,latin);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Rosarivo&subset=latin,latin-ext);
.red {
  color: #f44843;
}
.orange-brown {
  color: #fa9663;
}
body {
  font-family: "Quicksand" !important;
  font-weight: 300 !important;
}
h1 {
  text-shadow: 1px 1px 2px #b4b4b4;
}
#background {
  position: absolute;
  background: transparent;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
#main {
  position: absolute;
  top: 100vh;
  z-index: 1;
  background: transparent;
}
#navbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.9);
  padding: 0.5% 0.5% 0.5% 0.5%;
  color: #f44843;
}
#navbar .heading {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 11pt;
}
#navbar .heading:hover {
  transform: scale(1.05);
}
#navbar #social-media-section {
  padding-top: 0.5%;
}
.box {
  padding: 5% 5% 5% 5% !important;
}
#quote {
  height: 100vh;
  background-color: #d9d9d9;
  overflow-y: auto;
  padding: 10% 5% 10% 5%;
  position: relative;
}
#quote blockquote {
  border: none !important;
  clear: left;
}
#quote blockquote p {
  font-size: 12pt;
}
#quote blockquote footer {
  float: right;
  color: #f44843;
}
#quote blockquote::before {
  content: '\201C';
  font-family: "Rosarivo";
  font-size: 52pt;
  font-weight: bold;
  position: relative;
  left: -0.6em;
  top: 1em;
  line-height: 50%;
  color: #f44843;
}
#news {
  height: 100vh;
  background-color: #eaeaea;
  overflow-y: auto;
  font-size: 12pt;
}
#gigs {
  background-color: #262626;
  height: 100vh;
  overflow-y: auto;
  color: #f44843;
}
#gigs #gigs-container {
  overflow-y: auto;
}
#gigs #gigs-container:hover > .gig {
  transform: scale(0.95);
}
#gigs .gig {
  margin: 2% 2% 0 2%;
  width: 90%;
  max-height: 500px;
  transition: all 0.2s ease-in-out;
  font-size: 16pt;
  border: 1px solid #b3b3b3;
}
#gigs .gig .gig-text {
  border-right: 1px solid #b3b3b3;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 2% 2% 1% 2%;
}
#gigs .gig .gig-button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #262626;
  padding: 2% 2% 1% 2%;
}
#gigs .additional-info {
  border-top: 1px solid #b3b3b3;
  padding: 2% 2% 1% 2%;
  cursor: default;
}
#gigs .additional-info a {
  text-decoration: none;
  color: #fa9663;
}
#gigs .collapsed .additional-info {
  display: none;
}
#gigs .expanded .additional-info {
  display: initial;
}
#gigs .gig:hover {
  cursor: pointer;
}
#gigs #gigs-container:hover > .gig:hover {
  transform: scale(1);
}
#quote-section {
  padding: 10% 10% 10% 10%;
}
#members {
  background: transparent;
  background-size: cover;
  height: 100vh;
}
#members * {
  background: transparent;
}
#members .member {
  height: inherit;
  transition: all 0.2s ease-in-out;
  color: #eaeaea;
  position: relative;
}
#members .member .member-info {
  position: absolute;
  bottom: 5%;
}
#members .member .member-info .instrument,
#members .member .member-info .lastname {
  display: none;
}
#members .member:hover {
  background-color: rgba(38, 38, 38, 0.5);
}
#members .member:hover .instrument,
#members .member:hover .lastname {
  display: initial;
}
#about-and-contact-section {
  color: #262626;
}
#about {
  height: 100vh;
  font-size: 14pt;
  background-color: #eaeaea;
  overflow-y: auto;
  padding: 5% 10% 10% 10%;
}
#about #more-music {
  font-family: "Great Vibes";
  font-size: 36pt;
  margin-bottom: 10%;
}
#about .drop-cap-container {
  float: left;
  padding: 0 5px 0 5px;
  margin-right: 2px;
}
#about .drop-cap {
  font-size: 60pt;
  color: #f44843;
  display: inline;
  float: left;
  top: 0;
  line-height: 65px;
}
#big-image {
  height: 100vh;
}
#youtube {
  background-color: #d9d9d9;
  height: 200vh;
  overflow-y: auto;
  color: #f44843;
}
#soundcloud {
  background-color: #eaeaea;
  height: 200vh;
}
#soundcloud iframe:nth-child(4) {
  height: 25vh;
}
iframe {
  width: 80%;
  height: 50vh;
  margin: 2% 10% 0 10%;
}
#contact {
  background-color: #fbfbfb;
  font-size: 16pt;
}
#footer {
  padding-top: 1%;
  background-color: white;
}
