@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700&subset=latin-ext,latin);

@import url(https://fonts.googleapis.com/css?family=Great+Vibes&subset=latin,latin-ext);

@import url(https://fonts.googleapis.com/css?family=Rosarivo&subset=latin,latin-ext);

@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@media (min-width: 768px) {
  #quote {
    height: 100vh;
  }
  #about {
    height: 100vh;
    font-size: 14pt;
    overflow-y: auto;
  }
  #youtube {
    height: 200vh;
  }
  #soundcloud {
    height: 200vh;
  }
}
.red {
  color: #f44843;
}
.orange-brown {
  color: #fa9663;
}
body {
  font-family: "Quicksand" !important;
  font-weight: 300 !important;
}
#background {
  position: absolute;
  background: transparent;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
#main {
  position: absolute;
  top: 100vh;
  z-index: 1;
  background: transparent;
}
#navbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.9);
  color: #f44843;
}
#navbar .heading {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 11pt;
}
#navbar .heading:hover {
  transform: scale(1.05);
}
#navbar #social-media-section {
  padding-top: 0.5%;
}
#navbar .social-media:hover {
  background-color: #333333;
}
.navbar {
  margin-bottom: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.navbar .navbar-brand {
  padding-top: 1px;
}
.navbar .navbar-text {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-text:hover {
  transform: scale(1.05);
}
.navbar .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.box {
  padding: 5% 5% 5% 5% !important;
}
#quote {
  background-color: #d9d9d9;
  overflow-y: auto;
  padding: 10% 5% 10% 5%;
  position: relative;
}
blockquote {
  border: none !important;
  clear: left;
}
blockquote p {
  font-size: 12pt;
}
blockquote footer {
  float: right;
  color: #f44843 !important;
}
blockquote::before {
  content: '\201C';
  font-family: "Rosarivo";
  font-size: 52pt;
  font-weight: bold;
  position: relative;
  left: -0.6em;
  top: 1em;
  line-height: 50%;
  color: #f44843;
}
#news {
  height: 100vh;
  overflow-y: auto;
  background-color: #eaeaea;
  font-size: 12pt;
}
#gigs {
  background-color: #262626;
  height: 100vh;
  overflow-y: auto;
  color: #f44843;
}
#gigs h1 {
  text-shadow: #030303 2px 2px 2px;
}
#gigs #gigs-container {
  overflow-y: auto;
  padding-bottom: 2%;
}
#gigs #gigs-container:hover > .gig {
  transform: scale(0.95);
}
#gigs .gig {
  margin: 2% 2% 0 2%;
  width: 90%;
  max-height: 500px;
  transition: all 0.2s ease-in-out;
  font-size: 16pt;
  border: 1px solid #333333;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 3px 0px #171717;
  -moz-box-shadow: 2px 2px 3px 0px #171717;
  box-shadow: 2px 2px 3px 0px #171717;
}
#gigs .gig .gig-text {
  border-right: 1px solid #333333;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 2% 2% 1% 2%;
}
#gigs .gig .gig-button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #262626;
  padding: 2% 2% 1% 2%;
  text-align: center;
}
#gigs .additional-info {
  border-top: 1px solid #333333;
  padding: 2% 2% 1% 2%;
  cursor: default;
  overflow-x: auto;
}
#gigs .additional-info a {
  text-decoration: none;
  color: #fa9663;
}
#gigs .collapsed .gig-button:after {
  content: 'Mer info';
}
#gigs .collapsed .additional-info {
  display: none;
}
#gigs .expanded .gig-button:after {
  content: 'Mindre info';
}
#gigs .expanded .additional-info {
  display: initial;
}
#gigs .gig:hover {
  cursor: pointer;
}
#gigs #gigs-container:hover > .gig:hover {
  transform: scale(1);
}
#quote-section {
  padding: 10% 10% 10% 10%;
}
#member-section {
  display: none;
}
/*#members {

	background-color: @black;

}

.member {

	color: @white;
	//position: relative;

	.member-info {

		.instrument, .lastname {

			display: none;

		}

	}
}*/
@media (min-width: 768px) {
  #member-section {
    display: initial;
  }
  #member-section #members {
    background: transparent;
    height: 100vh;
  }
  #member-section #members * {
    background: transparent;
  }
  #member-section #members .member {
    height: inherit;
    transition: all 0.2s ease-in-out;
    color: #eaeaea;
    position: relative;
  }
  #member-section #members .member .member-info {
    position: absolute;
    bottom: 5%;
  }
  #member-section #members .member .member-info .instrument,
  #member-section #members .member .member-info .lastname {
    display: none;
  }
  #member-section #members .member:hover {
    background-color: rgba(38, 38, 38, 0.5);
  }
  #member-section #members .member:hover .instrument,
  #member-section #members .member:hover .lastname {
    display: initial;
    text-align: center;
  }
}
#about-and-contact-section {
  color: #262626;
}
#about {
  background-color: #eaeaea;
  padding: 5% 10% 10% 10%;
}
#about #more-music {
  font-family: "Great Vibes";
  font-size: 36pt;
  margin-bottom: 10%;
}
#about .drop-cap-container {
  float: left;
  padding: 0 5px 0 5px;
  margin-right: 2px;
}
#about .drop-cap {
  font-size: 60pt;
  color: #f44843;
  display: inline;
  float: left;
  top: 0;
  line-height: 65px;
}
#big-image {
  height: 100vh;
}
#youtube {
  background-color: #d9d9d9;
  overflow-y: auto;
  padding-top: 1%;
}
#soundcloud {
  background-color: #eaeaea;
  /*
	 *
	 * The padding is needed to avoid a gap between the youtube and soundcloud section
	 * caused by the h1's margin-top when bootstrap stacks the sections on top of
	 * each other on smaller screens.
	 *
	 */

  padding-top: 1%;
}
#soundcloud iframe:nth-child(4) {
  height: 25vh;
}
iframe {
  width: 80%;
  height: 50vh;
  margin: 2% 10% 0 10%;
}
#contact {
  background-color: #fbfbfb;
  font-size: 16pt;
}
#footer {
  padding-top: 1%;
  background-color: white;
}
