<div id="about-and-quote-section" ng-controller="MainController">
	<div class="container-fluid">
		<div class="row">
			<div id="about" class="col-sm-8">
				<div class="drop-cap-container">
				    <p class="drop-cap" ng-bind-html="description.dropCap"></p>
				</div>
				<p ng-bind-html="description.truncatedContent"></p>
			</div>
			<div id="quote" class="col-sm-4">
				<blockquote>
					<p ng-bind-html="firstQuoteSection.review"><p>
					<footer ng-bind-html="firstQuoteSection.source"></footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
