<div id="about-and-quote-section" ng-controller="MainController">
	<div class="container-fluid">
		<div class="row">
			<div id="about" class="col-sm-8">
				<div ng-repeat="paragraph in description">
					<div ng-if="paragraph.dropcap" class="drop-cap-container">
						<p class="drop-cap">{{ paragraph.dropcap }}</p>
					</div>
					<p>{{  paragraph.paragraph }}</p>
				</div>
			</div>
			<div id="quote" class="col-sm-4">
				<blockquote>
					<p>{{ quote2.review }}</p>
					<footer>{{ quote2.info }}</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
