<div id="about-and-quote-section" ng-controller="MainController">
	<div class="container-fluid">
		<div class="row">
			<div id="about" class="col-sm-8">
                <div class="drop-cap-container">
                    <p class="drop-cap">{{ description.dropCap }}</p>
                </div>
				<p ng-bind-html="description.truncatedContent"></p>
			</div>
			<div id="quote" class="col-sm-4">
				<blockquote>
					<p>{{ quotes[1].review }}</p>
					<footer>{{ quotes[1].source }}</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
