<div id="news" class="box selectable-container col-sm-4">
    <h1 class="text-center">NYHETER</h1>
    <div class="row">
        <p class="input-group col-xs-6 col-xs-offset-3">
            <input type="text" class="form-control" uib-datepicker-popup="{{ dateFormat }}" ng-model="datetime" is-open="newsItemDatePopup.opened" close-text="Stäng" >
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openNewsItemDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
    <p class="admin-item selectable" ng-repeat="newsItem in news | filter:newsDateFilter()" ng-click="setPutState(newsItem)"><span class="red">{{ newsItem.date | date:dateFormat }}</span>: <span ng-bind-html="newsItem.content"></span></p>
</div>
<div class="col-sm-8">
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="text-center">{{ heading }}</h1>
        <textarea class="form-control" ui-tinymce ng-model="newsItemToBeSent.content"></textarea>

        <button class="btn btn-primary col-sm-6 col-sm-offset-3" ng-click="sendNewsItem()">{{ newsItemAction}}</button>
        <button class="btn btn-danger col-sm-6 col-sm-offset-3" ng-hide="addingNewNewsItem" ng-click="deleteNewsItem()">Ta bort nyhet</button>
        <button class="btn btn-primary col-sm-6 col-sm-offset-3" ng-hide="addingNewNewsItem" ng-click="setPostState()">Ny nyhet</button>
    </div>
</div>
