<div id="gigs" class="box col-sm-4">
    <h1 class="text-center">KONSERTER</h1>
    <div class="row">
        <p class="input-group col-xs-6 col-xs-offset-3">
            <input type="text" class="form-control" uib-datepicker-popup="{{ dateFormat }}" ng-model="datetime" is-open="gigsListDatePopup.opened" close-text="Stäng" >
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openGigsListDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>

    <div id="gigs-container" class="selectable-container">
        <div ng-repeat="gig in gigs | filter:dateFilter()" class="gig selectable collapsed row">
            <gig ng-click="setPutState(gig)"></gig>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <h1 class="text-center">{{ heading }}</h1>
            <label for="gig-form-date-input">Välj datum:</label>
            <p class="input-group">
                <input id="gig-form-date-input" type="text" class="form-control" uib-datepicker-popup="{{ dateFormat }}" ng-model="gigToBeSent.datetime" is-open="gigFormDatePopup.opened" close-text="Stäng" placeholder="Datum">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openGigFormDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>

            <label for="gig-form-time-input">Välj tid:</label>
            <div uib-timepicker id="gig-form-time-input" ng-model="gigToBeSent.datetime" show-meridian="false"></div>

            <label for="extra-fields">Annan nyttig information:</label>
            <div id="extra-fields">
                <input type="text" class="form-control" ng-model="gigToBeSent.ticketlink" placeholder="Biljettlänk">
                <input type="text" class="form-control" ng-model="gigToBeSent.info" placeholder="Ytterligare info">
                <input type="text" class="form-control" ng-model="gigToBeSent.price" placeholder="Pris">
            </div>
        </div>
        <div class="row">
            <label for="select-venue">Välj spelställe:</label><br>
            <input type="text" id="select-venue" class="form-control" ng-model="gigToBeSent.venue_name" ng-change="searchVenues()" placeholder="Spelställets namn">

            <input type="text" class="form-control" ng-model="selectedVenue.address" ng-change="debugVenue()" placeholder="Spelställets gatuadress">
            <input type="text" class="form-control" ng-model="selectedVenue.city" ng-change="debugVenue()" placeholder="Spelställets stad">
            <input type="text" class="form-control" ng-model="selectedVenue.webpage" ng-change="debugVenue()" placeholder="Spelställets webbsida">
        </div>


        <button class="btn btn-primary col-sm-6 col-sm-offset-3" ng-click="sendGig()">{{ gigAction }}</button>
        <button class="btn btn-danger col-sm-6 col-sm-offset-3" ng-hide="addingNewGig" ng-click="deleteGig()">Ta bort gig</button>
        <button class="btn btn-primary col-sm-6 col-sm-offset-3" ng-hide="addingNewGig" ng-click="setPostState()">Nytt gig</button>
    </div>
</div>
