<nav id="navbar" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a href="#" class="navbar-brand">
                <img src="images/brand.png" height="50">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><p class="navbar-text">OM VILDE</p></li>
                <li><p class="navbar-text">MEDLEMMAR</p></li>
                <li><p class="navbar-text">NYHETER</p></li>
                <li><p class="navbar-text">KONSERTER</p></li>
                <li><p class="navbar-text">MEDIA</p></li>
                <li><p class="navbar-text">KONTAKT</p></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="social-media"><a href="https://soundcloud.com/vildeland"><img src="images/socialmedia/sc29.png"></a></li>
                <li class="social-media"><a href="http://www.facebook.com/vildeland"><img src="images/socialmedia/facebooklogga_29.png"></a></li>
                <li class="social-media"><a href="https://www.youtube.com/channel/UC-v-m14JPztcf6mKgQif9NA"><img src="images/socialmedia/yt29.png"></a></li>
            </ul>
        </div>
    </div>
</nav>