<div id="contact" class="col-xs-12">
    <div class="container-fluid">
        <h1 class="text-center">BOKNING OCH PRESS</h1>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-sm-2 col-sm-offset-2">
                    <p class="text-left"><span class="red">Mail</span>:</p>
                </div>
                <div class="col-sm-8">
                   <p>{{ email }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-sm-2 col-sm-offset-2">
                    <p class="text-left"><span class="red">Telefon</span>:</p>
                </div>
                <div class="col-sm-8">

                        <div ng-repeat="contactperson in contactpersons" class="row">

                            <div class="col-sm-5">
                                <p>{{ contactperson.name }}</p>
                            </div>
                            <div class="col-sm-5">
                                <p>{{ contactperson.phonenumber }}</p>
                            </div>

                        </div>

                </div>
            </div>
        </div>
    </div>
</div>