<div ng-controller="GigsController">
    <div id="gigs" class="box col-sm-6">
        <h1 class="text-center">KOMMANDE KONSERTER</h1>
        <div id="gigs-container">
            <div ng-repeat="gig in gigs" class="gig collapsed row">
                <gig data="{{ gig }}" ng-click="assignFocus()"></gig>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="text-center">Lägg till nytt gig</h1>
            <input type="text" class="form-control" ng-model="newGig.date" placeholder="Datum">
            <input type="text" class="form-control" ng-model="newGig.time" placeholder="Tid">
            <input type="text" class="form-control" ng-model="newGig.ticketlink" placeholder="Biljettlänk">
            <input type="text" class="form-control" ng-model="newGig.info" placeholder="Ytterligare info">
            <input type="text" class="form-control" ng-model="newGig.venue_name" placeholder="Spelställe">
            <input type="text" class="form-control" ng-model="newGig.price" placeholder="Pris">

            <button class="btn btn-primary" ng-click="addGig()">Lägg till gig</button>
        </div>
    </div>
</div>
