<div id="background">
    <img id="logo"src="../images/logga.png">
</div>


<ng-include src="'partials/navbar.html'"></ng-include>

<div id="main">

    <ng-include src="'partials/aboutandquotes.html'"></ng-include>

    <ng-include src="'partials/members.html'"></ng-include>

    <ng-include src="'partials/newsandgigs.html'"></ng-include>


    <div id="quote-section">
        <div class="container-fluid">
            <div class="row">
                <blockquote>
                    <p>{{ quote1.review }}</p>
                    <footer>{{ quote1.info }}</footer>
                </blockquote>
            </div>
        </div>
    </div>

    <ng-include src="'partials/media.html'"></ng-include>

    <div id="big-image"></div>

    <ng-include src="'partials/contact.html'"></ng-include>

    <ng-include src="'partials/footer.html'"></ng-include>

</div>