<div id="media-section">
	<div class="container-fluid">
		<div class="row">
			<div id="youtube" class="col-sm-6">
				<h1 class="text-center">YOUTUBE</h1>
				<!--<iframe src="https://www.youtube.com/embed/MYWGUhDN-ZI" frameborder="0" allowfullscreen></iframe>
				<iframe src="https://www.youtube.com/embed/m9ivlkR57Kg" frameborder="0" allowfullscreen></iframe>
				<iframe src="https://www.youtube.com/embed/0UILb-xR0h4" frameborder="0" allowfullscreen></iframe>-->
				<youtube id="MYWGUhDN-ZI" class="embedded-video"></youtube>
				<youtube id="m9ivlkR57Kg" class="embedded-video"></youtube>
				<youtube id="0UILb-xR0h4" class="embedded-video"></youtube>
			</div>
			<div id="soundcloud" class="col-sm-6">
				<h1 class="text-center">SOUNDCLOUD</h1>
				<!--<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/238951938&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129517659&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/89855069&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				<embedded-video id="S238951938" background="https://i1.sndcdn.com/artworks-000140683638-qnewgp-t200x200.jpg" class="embedded-video"></embedded-video>-->
                <asynch-iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/238951938&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></asynch-iframe>
				<asynch-iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129517659&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></asynch-iframe>
				<asynch-iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/89855069&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></asynch-iframe>
			</div>
		</div>
	</div>
</div>
