<div id="member-section">
	<div class="container-fluid">
		<div id="members" class="row">
			<!--<img src="../images/allatre.jpg" id="members-background">-->
			<div id="sunniva" class="member col-md-4">
				<div class="row">
					<div class="member-image col-xs-6"><img src="./images/sunniva.jpg"></div>
					<div class="member-info col-xs-6">
						<p class="instrument">Nyckelharpa</p>
						<h2 class="name">Sunniva <span class="lastname">Abelli</span></h2>
					</div>
				</div>
			</div>
			<div id="nisse" class="member col-md-4">
				<div class="row">
					<div class="member-image col-xs-6"><img src="./images/nisse.jpg"></div>
					<div class="member-info col-xs-6">
						<p class="instrument">Gitarr, mandolin, banjo</p>
						<h2 class="name">Nisse <span class="lastname">Blomster</span></h2>
					</div>
				</div>
			</div>
			<div id="erik"class="member col-md-4">
				<div class="row">
					<div class="member-image col-xs-6"><img src="./images/erik.jpg"></div>
					<div class="member-info col-xs-6">
						<p class="instrument">Klarinett</p>
						<h2 class="name">Erik <span class="lastname">Larsson</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
