<div id="news-and-gigs-section">
	<div class="container-fluid">

		<div class="row">

			<div id="news" class="box col-sm-4">
				<h1>NYHETER</h1>
				<p ng-repeat="newsItem in news"><span class="red">{{ newsItem.date }}</span>: <span ng-bind-html="newsItem.content"></span></p>
			</div>

			<div id="gigs" class="box col-sm-8">
				<h1 class="text-center">KOMMANDE KONSERTER</h1>
					<div id="gigs-container">
						<div ng-repeat="gig in gigs" class="gig collapsed row">
							<gig></gig>
						</div>
					</div>
			</div>

		</div>

	</div>
</div>
