@viewport {
    zoom: 0.3;
    width: extend-to-zoom;
}

@-ms-viewport {
    zoom: 0.3;
    width: extend-to-zoom;
}

body {
    font-family: "Open Sans", sans-serif;
}
/* Mobile first! */
#background {
    background: rgba( 0, 0, 0, 0 ) 
                url(https://www.spoketikoket.com/static/images/backgroundimages/spoketbackgroundsmall.jpg) no-repeat 50% 0 / cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

/* For devices bigger than an iPhone 4s, might need to up this minimum a bit */
@media (min-width: 641px) {
    #background {
        background: rgba( 0, 0, 0, 0 ) 
                    url(https://www.spoketikoket.com/static/images/backgroundimages/spoketbackground.jpg) no-repeat 50% 0 / cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

#main {
    position: absolute;
    top: 90%;
    left: 10%;
    width: 80%;
    background-color: #F1F1F1;
    z-index: 1;
    text-align: center;
    overflow-x: hidden;
    /*border: 2px solid #D1D1D1;*/
    /*border: 2px solid #123848;*/
    border-radius: 2px;
}

/*.heading + .section {
    margin-top: 10%;
}*/

#header {
    /*background-color: #D1D1D1;*/
    background-color: #123848;
    margin-bottom: 10%;
}

.heading {
    display: inline-block;
    width: 15%;
    /*margin-bottom: 10%;*/
    color: #D0D7DA;
    font-weight: bold;
    transition: all .5s ease;
}

.heading-link {
    display: inline-block;
    width: 15%;
    /*margin-bottom: 10%;*/
    color: #D0D7DA;
    font-weight: bold;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.heading:hover {
    cursor: pointer;
    color: #F1F1F1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.heading-link:hover {
    color: #F1F1F1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#main a {
    text-decoration: none;
    /*color: black;*/
}

.section {
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: #F1F1F1;
    text-align: left;
    line-height: 1.3;
    /*border-left: 2px solid #D1D1D1;*/
    border-left: 2px solid #D0D7DA;
    padding-left: 1%;
}

.section img {
    float: right;
    margin-right: 1%;
    opacity: 1;
}

.section-heading {
    color: #123848;
}

textarea {
    width: 60%;
    height: 100%;
    border: none;
    padding: 1% 1% 1% 1%;
    font-family: "Open Sans", sans-serif;
    line-height: 1.3;
}

.image-form {
    float: right;
    width: 30%;
}

.image-form form {
    float: left;
}

/*#visible {
    position: absolute;
    z-index: 3;
}

#not-visible {
    position: absolute;
    z-index: 3;
    top: 10%;
    right: 10%;
}*/

/*input {
    display: none;
}*/
#not-visible, #visible {
    display: none;
}

#to-top {
    position: fixed;
    z-index: 2;
    bottom: 2%;
    right: 1%;
    color: #F1F1F1;
    background-color: #123848;
    border-radius: 2px;
    padding: 0% 1% 0% 1%;
    opacity: 0.0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    /* to prevent cursor being displayed as text marker when element is hidden: */
    cursor: default;
}

#visible:checked + #to-top {
    opacity: 0.5;
}

#visible:checked + #to-top:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;
}