body {
    font-family: "Open Sans", sans-serif;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#background img {
    width: 100%;
    height: 100%;
}

#main {
    position: absolute;
    top: 90%;
    left: 10%;
    width: 80%;
    background-color: #E0EEEE;
    /*background-color: #F1F1F1;*/
    z-index: 1;
    text-align: center;
    overflow-x: hidden;
    border: 2px solid #D1D1D1;
    /*opacity: 0.9;*/
    border-radius: 5px;
}

/*.heading + .section {
    margin-top: 10%;
}*/

#header {
    background-color: #BCD7DB;
    margin-bottom: 10%;
}

.heading {
    display: inline-block;
    width: 15%;
    /*margin-bottom: 10%;*/
    font-weight: bold;
    transition: all .5s ease;
}

.heading-link {
    display: inline-block;
    width: 15%;
    /*margin-bottom: 10%;*/
    font-weight: bold;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.heading:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.heading-link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#main a {
    text-decoration: none;
    color: black;
}

.section {
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: #F1F1F1;
    text-align: left;
    line-height: 1.3;
    border-left: 2px solid #D1D1D1;
    padding-left: 1%;
}

.section img {
    float: right;
    margin-right: 1%;
    opacity: 1;
}

/*#visible {
    position: absolute;
    z-index: 3;
}

#not-visible {
    position: absolute;
    z-index: 3;
    top: 10%;
    right: 10%;
}*/

input {
    display: none;
}

#to-top {
    position: fixed;
    z-index: 2;
    bottom: 2%;
    right: 1%;
    background-color: #DDE4E9;
    /*border-radius: 5px;*/
    padding: 0% 1% 0% 1%;
    opacity: 0.0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    /* to prevent cursor being displayed as text marker when element is hidden: */
    cursor: default;
}

#visible:checked + #to-top {
    opacity: 0.5;
}

#visible:checked + #to-top:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;
}