(node) util.print is deprecated. Use console.log instead.
@charset "UTF-@{Eight}";
@namespace  "http://lesscss.org";
@keyframes @name {
  from {
    font-size: 12px;
  }
  to {
    font-size: 15px;
  }
}
@-webkit-keyframes @name {
  from {
    font-size: 13px;
  }
  to {
    font-size: 10px;
  }
}
