<div id="footer">
	<div class="container-fluid">
		<div class="col-xs-5">
			<p class="text-right">Design: Hanna Grahm & Simon Olofsson</p>
		</div>
		<div class="col-xs-2">
			<p class="text-center">|</p>
		</div>
		<div class="col-xs-5">
			<p>Kod: Simon Olofsson</p>
		</div>
	</div>
</div>