<!DOCTYPE html>
<html>
	<head>
		<title>Vilde</title>

		<link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">

        <!--<link rel="stylesheet/less" type="text/css" href="main.less">-->
		<!---<script src="less.js-master/dist/less.js" type="text/javascript"></script>-->

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		
		<div id="background"
			 data-parallax="scroll"
			 data-image-src="/images/background_logo.jpg"
			 data-position="top"
			 data-bleed="100"></div>

		{% include 'collapsiblenavbar.twig' %}

		<div id="main">

			{% include 'aboutandquotes.twig' %}

			{% include 'members.twig' %}

			{% include 'newsandgigs.twig' %}


			<div id="quote-section">
				<div class="container-fluid">
					<div class="row">
						<blockquote>
							<p>{{ quotes[0].review }}</p>
							<footer>{{ quotes[0].info }}</footer>
						</blockquote>
					</div>
				</div>
			</div>

			{% include 'media.twig' %}

			<div id="big-image"></div>

			{% include 'contact.twig' %}

			{% include 'footer.twig' %}
			
		</div>

		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/parallax_js/parallax.min.js"></script>
		<!--<script type="text/javascript" src="js/mainjQuery.js"></script>-->
	</body>
</html>
