<div id="news-and-gigs-section">
	<div class="container-fluid">

		<div class="row">

			<div id="news" class="box col-sm-4">
				<h1>NYHETER</h1>
				{% for newsItem in news %}
					<p><span class="red">{{ newsItem.date }}</span> - {{ newsItem.content }}</p>
				{% endfor %}
			</div>

			<div id="gigs" class="box col-sm-8">
				<h1 class="text-center">KOMMANDE KONSERTER</h1>
					<div id="gigs-container">
						{% for gig in gigs %}
							<div class="gig collapsed row">
								<div class="col-xs-12">
									<div class="row">
										<div class="gig-text col-xs-9">
											<p class="text-center">{{ gig.date }} - <span class="orange-brown">{{ gig.venue_name }}</span>, {{ gig.city }}</p>
										</div>
										<div class="gig-button col-xs-3"></div>
									</div>

									<div class="row">
										<div class="additional-info col-xs-12">
											<p>Pris: <span class="orange-brown">{{ gig.price }}</span></p>

											{% if gig.address != null %}
												<p>Plats: <span class="orange-brown">{{ gig.address }}</span></p>
											{% endif %}

											{% if gig.webpage != null %}
												<p>Webbsida: <a href="{{ gig.webpage }}">{{ gig.webpage }}</a></p>
											{% endif %}

											{% if gig.ticketlink != null %}
												<p>Biljetter: <a href="{{ gig.ticketlink }}">{{ gig.ticketlink }}</a></p>
											{% endif %}

											<p>{{ gig.info }}</p>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
			</div>

		</div>

	</div>
</div>
