<div class="row">
    <input type="text" class="form-control" ng-model="gig.date" placeholder="Datum">
    <input type="text" class="form-control" ng-model="gig.time" placeholder="Tid">
    <input type="text" class="form-control" ng-model="gig.ticketlink" placeholder="Biljettlänk">
</div>
<div class="row">
    <input type="text" class="form-control" ng-model="gig.info" placeholder="Ytterligare info">
    <input type="text" class="form-control" ng-model="gig.venue_name" placeholder="Spelställe">
    <input type="text" class="form-control" ng-model="gig.price" placeholder="Pris">
</div>
